@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Merienda:wght@300..900&family=Permanent+Marker&family=Rubik+Scribble&family=Satisfy&display=swap');
* {
  box-sizing: border-box;
}

html{
  font-size: 21px;
}

body{
  margin: 0;
  font-family: "Merienda", cursive;
}
a{
  text-decoration: none;
}